/* Raíz dos componentes */
:root {
    --cor-fundo: #f2f2f2;
    --cor-dark: #333;
    --cor-toggle-fundo: #cacaca;
    --cor-shadow-dark: rgba(0, 0, 0, 0.3);
    --cor-shadow-light: rgba(255, 255, 255, 0.7);
}
/* HTML */
html{ -webkit-tap-highlight-color: transparent; }
/* Body */
body.dark {
    --cor-fundo: #1d1b1b;
    --cor-toggle-fundo: #2a2828;
    --cor-shadow-dark: rgba(0, 0, 0, 0.8);
    --cor-shadow-light: rgba(255, 255, 255, 0.1);
}
body {
    background-color: var(--cor-fundo);
    margin: 0;
    padding: 0;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* Checkbox */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.theme-switch {
    position: relative;
    display: inline-block;
    width: 147px;
    height: 64px;
    cursor: pointer;
}
.theme-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--cor-toggle-fundo);
    transition: .4s;
    border-radius: 40px;
    box-shadow: 
        inset 3px 3px 7px var(--cor-shadow-dark),
        inset -3px -3px 7px var(--cor-shadow-light);
}
.slider:before {
    position: absolute;
    content: "";
    height: 54px;
    width: 54px;
    left: 3px;
    bottom: 3px;
    top: 3px;
    background-image: url('assets/icons/Sol.png');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    transition: 0.4s cubic-bezier(0.5, 0.01, 0.00, 1.01);
    box-shadow: 
        3px 3px 8px var(--cor-shadow-dark),
        -3px -3px 8px var(--cor-shadow-light);
}
input:checked + .slider:before {
    background-image: url('assets/icons/Lua.png');
    background-color: var(--cor-toggle-fundo);
    background-position: center;
    transform: translateX(80px) rotate(270deg);
    transition: 0.4s cubic-bezier(0.5, 0.01, 0.00, 1.01);
    box-shadow: 
        3px 3px 8px var(--cor-shadow-dark),
        -3px -3px 8px var(--cor-shadow-light);
}
.theme-switch input:active + .slider {
    box-shadow: 
        inset 2px 2px 5px var(--cor-shadow-dark),
        inset -2px -2px 5px var(--cor-shadow-light);
}
.theme-switch input:active + .slider:before {
    box-shadow: 
        inset 2px 2px 5px var(--cor-shadow-dark),
        inset -2px -2px 5px var(--cor-shadow-light);
}
